.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(42, 59, 74);
}

.caja {
    text-align: center;
    border-radius: 10px;
    background: #b2cfe4;
    margin: 10px;
} 

img {
    width: 600px;
    height: 400px;
}

.logo {
    width: 100px;
    height: 100px;
}

.cambiar {
    font-size: 20px;
}

.nuevaClase{
    font-weight: bolder;
}

.nuevaClase2{
    width: 900px;
    height: 700px;
}

.abajo{
    margin-top: 140px;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

.grid-item2 {
    margin: 5px;
}